h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.vegetables {
    text-align: center;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 14px;
}

.section-text {
    text-align: center;
    margin-bottom: 40px;
}

.goods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
    gap: 20px;
}

.goods-item {
    list-style: none;
    max-width: 335px;
    padding: 40px 20px 20px 20px;
    border-radius: 20px;
    background-color: #EAF7E5;
}

.goods-title {
    text-align: start;
    margin-bottom: 8px;
}

.goods-text {
    text-align: start;
    margin-bottom: 40px;
}

.goods-img {
    margin-bottom: 22px;
}

.goods-price {
    text-align: start;
}

.vegetables-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    outline: transparent;
    background-color: #FC8A11;
    text-transform: uppercase;
    transform: rotate(-14deg);
    color: #FFFFFF;

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .goods {
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 20px 20px;
    }

    .goods-item {
        max-width: 342px;
        padding: 64px 24px 24px 24px;
    }

    .section-text {
        max-width: 562px;
        margin-left: auto;
        margin-right: auto;
    }

    .vegetables-button {
        width: 114px;
        height: 114px;
    }

}


@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .goods {
        grid-gap: 24px 24px;
    }

    .goods-item {
        max-width: 389px;
        /* width: calc((100% - 48px)/3); */
    }
}